<div id="header">

</div>

<div id="wrapper">
    <h1>Wall STreet Journal Articles</h1>
    <div id="articles">
        {{#each articles}}
            <h2>
                <a href={{link}}>{{title}}</a>
            </h2>
            <br>
        {{/each}}
    </div>
    <div id="notes"></div>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>